
  <div class="row" id="sponsors">
  <div class="twelve columns">
    <h3><a href="/sponsor.php">Huge thanks to our sponsors</a></3> 
    <div class="row breath">
 
 <div class="three columns">
        <a href="http://abdn.ac.uk/softent"><img src="/img/sponsors/uni_logo_colour.png" /></a>  
        <p><a href="http://abdn.ac.uk/softent">University of Aberdeen</a></p>
      </div>
      <div class="three columns">
<!--
        <a href="http://www.designinaction.com"><img src="/img/dia-logo.png" /></a>
        <p><a href="http://www.designinaction.com">Design in Action</a></p>
        -->
      </div> 
       <div class="three columns"> 
       <!--
        <a href="http://www.rgu.ac.uk"><img src="/img/sponsors/rgu.gif" /></a>  
        <p><a href="http://www.rgu.ac.uk/">RGU</a></p>  
        -->
      </div>
      
      <div class="three columns"> 
        <!--
        <a href="http://www.stattys.com"><img src="/img/sponsors/stattys2.png" /></a>  
        <p><a href="http://www.stattys.com/">Stattys</a></p>  
      -->
      </div>

      <div class="three columns">
        <!--- a href="http://elevatoruk.com"><img src="/img/sponsors/elevator_logo.jpeg" /></a>  
        <p><a href="http://elevatoruk.com">Elevator</a></p>  
        -->
      </div>  
      <div class="three columns"> 
        <h4>Become a Sponsor</h4>
        <p>We have a number of sponsorship opportunities from £100. Please check the <a href="/sponsorus">sponsorship</a> page, and get in touch for more details.</p>
      </div> 

    </div> 
    <div class="row breath">
  
     
       

      <div class="six columns"> 
      </div>
    </div> 
  </div> 
</div>
  
  <!-- Call to Action Panel -->

  <div class="fullwidth subtlecontrast breath">
  <div class="row"  id="contact">
    <div class="twelve columns">
    
    
      <h4>Get in touch!</h4>
          
      <div class="row">
        <div class="nine columns">
          <p>If you have any questions, would like to confirm any details, would like to sponsor the event or just want to say hello, we'd love to hear from you.</p>
          <p>Follow us on Twitter at <a href="http://www.gsjaberdeen.org">@gsjaberdeen</a> too.</p>
        </div>
        <div class="three columns">
          <a href="mailto:b.scharlau@abdn.ac.uk" class="radius button right success">Contact Us</a>
        </div>
      </div>

      <h4>Register</h4>
      <div class="row">
        <div class="nine columns">
          <p>The event is FREE, and open to anyone. There are two ticket types, Student (for students) and Professional (for anyone who is not currently a student).</p>
        </div>
        <div class="three columns">
          <a href="http://gsjaberdeen-2016.eventbrite.co.uk" class="radius button success right">REGISTER</a>
        </div>
      </div>

      
    </div>
  </div>
  </div>
  
  <!-- Footer -->
  
  <footer class="row breath">
    <div class="twelve columns">
     
      <div class="row">
        <div class="six columns">
          <p>For more information about Global Service Jam, and to find Jams in other cities, visit the GSJ site at <a href="http://globalservicejam.org">http://globalservicejam.org</a></p>
        </div>
        <div class="six columns textright">
          <a href="http://globalservicejam.org"><img src="/img/theme/gsjlogo.jpg" /></a>
        </div>
      </div>
    </div> 
  </footer>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1342935-41']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 
   
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>

  <script type="text/javascript">
     $(window).load(function() {
         $('#slider').orbit();
     });
  </script>
