<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Global Service Jam : Aberdeen : GH</title>
   
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/css/main.css">

  <script src="/javascripts/modernizr.foundation.js"></script>
</head>
<body>
 <!-- Header and Nav -->
<div class="fullwidth heavycontrast">
    <div class="row">
      <div class="twelve columns">
 
        <ul class="nav-bar right">
          <li class=""> <a href="/">Home</a></li>
          <li class=" "> <a href="/gsj">Global Service Jam</a></li>
          <li class=" "> <a href="/htg">Why Should I Come?</a></li>
          <li class=" "> <a href="/sponsorus">Sponsor Us</a> </li>
         <li class=""> <a href="#contact">Get in touch</a> </li>
        </ul>



      </div>
    </div>
  </div>
  
  <div class="fullwidth contrast breath">
    <div class="row">
      <div class="twelve columns">
        <h1>One great global event with an Aberdeen presence</h1>
        <h3>Friday, 26 February to Sunday,-28 February 2016, Aberdeen</h3>
         <a href="http://gsjaberdeen-2016.eventbrite.co.uk" class="button success right">REGISTER NOW</a> 
      </div>
    </div>
  </div>
 
  <!-- End Header and Nav -->
